.product-landing__main {
  max-width: 90%;
  margin: auto;
}

.product-landing__header__h1 {
  position: relative;
  padding-top: 120px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}

@media (max-width: 600px) {
  .product-landing__header__h1 {
    padding-top: 150px;
  }
}