.get-started__container {
  margin-bottom: 50px;
  margin-top: 70px;
}

.get-started__form {
  text-align: center;
}

.get-started__form__email {
  text-align: center;
  border-style: none;
  border-radius: 1px;
  height: 35px;
  font-size: 18px;
  width: 250px;
  height: 30px;
  border: gray 1px solid;
}

.get-started__form__submit__wrapper {
  margin-top: 20px;
}

.get-started__form__submit__button{
  margin: 15px 5px 5px 5px;
  background-color: #f1c40f;
  text-align: center;
  border-style: none;
  border-radius: 1px;
  height: 35px;
  width: 150px;
  font-size: 18px;
}